<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="app.module.less" type="text/css" rel="stylesheet/less">
</head>
<body>

<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-concat="false"></script>

<!-- JS from Bower Components -->
<script src="_bc/less.js/dist/less-1.6.2.js" data-concat="false"></script>
<script src="_bc/jquery/jquery.js"></script>
<script src="_bc/bootstrap/dist/js/bootstrap.js"></script>
<script src="_bc/underscore/underscore.js"></script>
<script src="_bc/moment/moment.js"></script>
<script src="_bc/angular/angular.js"></script>
<script src="_bc/angular-ui-router/release/angular-ui-router.js"></script>
<script src="_bc/angular-animate/angular-animate.js"></script>
<script src="_bc/angular-resource/angular-resource.js"></script>
<!--<script src="_bc/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<script src="_bc/angular-ui-utils/ui-utils.js"></script>
<!-- Add New Bower Component JS Above -->


<!-- Main App JS -->
<script src="app.module.js"></script>
<script src="app.core/app.core.module.js"></script>
<!-- Add New Component JS Above -->

<div>
    <div id="content" class="container">
        <div class="row">
            <div ui-view></div>
        </div>
    </div>
</div>
</div>

</body>
</html>
